<%- include('partials/header') %>
<link rel="stylesheet" href="public\css\styles.css">
<header class="logout">
  <a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>
</header>


<div>
    <input type="number" name="numberOfTitles" min="1" placeholder="number of titles">
    <button>Go</button>
    <input type="text" name="titles" placeholder="add title">
    
    <select name="users" id="cars">
        <% users.forEach(function(user){ %>
            <option value="volvo"><%=user.email%></option>
            
        <% }) %>
    </select>

  
</div>

<%- include('partials/footer') %>